<!-- En page1.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Page 1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Cuestionario</h1>
    <form action="/procesar_respuestas" method="post">
        <label for="pregunta1">Pregunta 1: ¿Cuál es tu color favorito?</label>
        <input type="text" id="pregunta1" name="respuesta1"><br><br>

        <label for="pregunta2">Pregunta 2: ¿Qué animal te gusta más?</label>
        <input type="text" id="pregunta2" name="respuesta2"><br><br>

        <label for="pregunta3">Pregunta 3: ¿Cuál es tu comida favorita?</label>
        <input type="text" id="pregunta3" name="respuesta3"><br><br>

        <input type="submit" value="Enviar respuestas">
    </form>
</body>
</html>
