<!DOCTYPE html>
<html>
<head>
    <title>Page 1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Cuestionario</h1>
    <form action="/procesar_respuestas" method="post">
        <label for="pregunta1">Pregunta 1: ¿Cuál es tu color favorito?</label>
        <select id="pregunta1" name="respuesta1">
            <option value="Rojo">Rojo</option>
            <option value="Verde">Verde</option>
            <option value="Azul">Azul</option>
        </select><br><br>


        <label for="pregunta2">Pregunta 2: ¿Cuál es tu película favorita?</label>
        <select id="pregunta2" name="respuesta2">
            <option value="El Padrino">El Padrino</option>
            <option value="Matrix">Matrix</option>
            <option value="Titanic">Titanic</option>
        </select><br><br>


        <label for="pregunta3">Pregunta 2: ¿Qué animal te gusta más?</label>
        <select id="pregunta3" name="respuesta3">
            <option value="Perro">Perro</option>
            <option value="Gato">Gato</option>
            <option value="Pájaro">Pájaro</option>
        </select><br><br>

        <label for="pregunta4">Pregunta 3: ¿Cuál es tu comida favorita?</label>
        <select id="pregunta4" name="respuesta4">
            <option value="Pizza">Pizza</option>
            <option value="Sushi">Sushi</option>
            <option value="Hamburguesa">Hamburguesa</option>
        </select><br><br>


        <label for="pregunta4">Pregunta 4: ¿Qué deporte prefieres?</label>
        <select id="pregunta4" name="respuesta4">
            <option value="Fútbol">Fútbol</option>
            <option value="Baloncesto">Baloncesto</option>
            <option value="Tenis">Tenis</option>
        </select><br><br>

        <label for="pregunta5">Pregunta 5: ¿Cuál es tu estación del año preferida?</label>
        <select id="pregunta5" name="respuesta5">
            <option value="Verano">Verano</option>
            <option value="Otoño">Otoño</option>
            <option value="Invierno">Invierno</option>
        </select><br><br>


        <label for="pregunta6">Pregunta 6: ¿Prefieres leer un libro o ver una película en tu tiempo libre?</label>
        <select id="pregunta6" name="respuesta6">
            <option value="Leer un libro">Leer un libro</option>
            <option value="Ver una película">Ver una película</option>
            <option value="Depende del estado de ánimo">Depende del estado de ánimo</option>
        </select><br><br>

        <label for="pregunta7">Pregunta 7: ¿Eres más introvertido o extrovertido?</label>
        <select id="pregunta7" name="respuesta7">
            <option value="Introvertido">Introvertido</option>
            <option value="Extrovertido">Extrovertido</option>
            <option value="Ambos en diferentes situaciones">Ambos en diferentes situaciones</option>
        </select><br><br>

        <label for="pregunta8">Pregunta 8: ¿Cómo sueles afrontar los desafíos?</label>
        <select id="pregunta8" name="respuesta8">
            <option value="Busco soluciones paso a paso">Busco soluciones paso a paso</option>
            <option value="Me gusta improvisar">Me gusta improvisar</option>
            <option value="Me adapto según la situación">Me adapto según la situación</option>
        </select><br><br>

        <label for="pregunta9">Pregunta 9: ¿Eres más organizado o espontáneo?</label>
        <select id="pregunta9" name="respuesta9">
            <option value="Organizado">Organizado</option>
            <option value="Espontáneo">Espontáneo</option>
            <option value="Depende del contexto">Depende del contexto</option>
        </select><br><br>

        <label for="pregunta10">Pregunta 10: ¿Prefieres trabajar en equipo o de forma individual?</label>
        <select id="pregunta10" name="respuesta10">
            <option value="Trabajar en equipo">Trabajar en equipo</option>
            <option value="Trabajar de forma individual">Trabajar de forma individual</option>
            <option value="Ambos, dependiendo del proyecto">Ambos, dependiendo del proyecto</option>
        </select><br><br>


        <label for="pregunta11">Pregunta 11: ¿Prefieres planificar tus actividades o ser espontáneo/a?</label>
        <select id="pregunta11" name="respuesta11">
            <option value="Planificar actividades">Planificar actividades</option>
            <option value="Ser espontáneo/a">Ser espontáneo/a</option>
            <option value="Depende de la situación">Depende de la situación</option>
        </select><br><br>

        <label for="pregunta12">Pregunta 12: ¿Qué te motiva más: el reconocimiento o el logro personal?</label>
        <select id="pregunta12" name="respuesta12">
            <option value="Reconocimiento">Reconocimiento</option>
            <option value="Logro personal">Logro personal</option>
            <option value="Ambos son importantes">Ambos son importantes</option>
        </select><br><br>

        <label for="pregunta13">Pregunta 13: ¿Eres más práctico/a o te enfocas en la teoría?</label>
        <select id="pregunta13" name="respuesta13">
            <option value="Práctico/a">Práctico/a</option>
            <option value="Teórico/a">Teórico/a</option>
            <option value="Encuentro un equilibrio entre ambos">Encuentro un equilibrio entre ambos</option>
        </select><br><br>

        <label for="pregunta14">Pregunta 14: ¿Cómo manejas el estrés?</label>
        <select id="pregunta14" name="respuesta14">
            <option value="Busco actividades relajantes">Busco actividades relajantes</option>
            <option value="Resuelvo problemas de raíz">Resuelvo problemas de raíz</option>
            <option value="Hago pausas y respiro profundo">Hago pausas y respiro profundo</option>
        </select><br><br>

        <label for="pregunta15">Pregunta 15: ¿Qué tipo de humor te agrada más?</label>
        <select id="pregunta15" name="respuesta15">
            <option value="Humor sarcástico">Humor sarcástico</option>
            <option value="Humor amable y ligero">Humor amable y ligero</option>
            <option value="Disfruto de varios tipos de humor">Disfruto de varios tipos de humor</option>
        </select><br><br>



        <input type="submit" value="Enviar respuestas">

        <!-- Botones para ir a otras páginas -->
        <a href="/">Ir a Homepage</a>
        <a href="/page2">Ir a Page 2</a>
    </form>
</body>
</html>